@use "../abstracts/" as *;

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-height: 100svh;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: clrMap(background-clr);
  color: clrMap(on-background);
}

.container {
  position: relative;
  width: min(100% - 2rem, 60rem);
  margin-inline: auto;
}
